{% extends "base.html" %}

{% block content %}
            <div class="askbutorin-newquestion">
                <form action="">
                    <h2>Новый вопрос</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <span>Название вопроса</span>
                        </div>
                        <div class="col-md-8">
                            <span><input class="askbutorin-newquestion-title" maxlength="50" placeholder="Введите название вопроса"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span>Теги</span>
                        </div>
                        <div class="col-md-8">
                            <span><input class="askbutorin-newquestion-tags" maxlength="50" placeholder="Введите теги"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span>Текст вопроса</span>
                        </div>
                        <div class="col-md-8">
                            <span><textarea class="askbutorin-newquestion-text" maxlength="200" rows="6" placeholder="Введите текст вопроса"></textarea></span>
                        </div>
                    </div>
                    <p><input class="askbutorin-submit-button" type="submit" value="Задать вопрос"></p>
                </form>
            </div>
        </div>

{% endblock %}