<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" value="">
        <input type="submit" value="Submit" >
    </form>

    <p>GET params</p>
    {% for key, param in request.GET.items %}
        {{key}}: {{param}} </br>
    {%endfor%}

    <p>POST params</p>
    {% for key, param in request.POST.items %}
        {{key}}: {{param}} </br>
    {%endfor%}

</body>
</html>