{% extends "base.html" %}

{% block content %}
    {% if type == 'hot' %}
        <h2><a href="{% url "index" %}">Новые вопросы</a> Горячее</h2>
    {% endif %}
    {% if type == 'tag' %}
        <h2>Тэг: {{ tag }}</h2>
    {% endif %}
    {% if type == 'all' %}
            <h2>Новые вопросы <a href="{% url 'hot' %}">Горячее</a></h2>
    {% endif %}
    {% for item in questions %}
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-3">
                        <div class="askbutorin-avatar-block">
                            {% csrf_token %}
                            {% if item.author.profile.avatar %}
                                <img class="avatar" src="{{ item.author.profile.avatar.url }}"/>
                            {% else %}
                                <img class="avatar" src="images/avatars/default.png"/>
                            {% endif %}
                            <p> {{ item.author }} </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <a href="" class="js-like" data-id="{{ item.id }}" data-type="question-like"><button type="button" class="btn like_btn btn-default" {%if not request.user.is_authenticated %}disabled="disabled"{% endif %}><img class="like-button" src="/images/like.png"></button></a>
                                <span>{{ item.rating }}</span>
                              <a href="" class="js-like" data-id="{{ item.id }}" data-type="question-dislike"><button type="button" class="btn like_btn btn-default" {%if not request.user.is_authenticated %}disabled="disabled"{% endif %}><img class="like-button" src="/images/dislike.png"></button></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-9">
                        <a href="{% url 'question' item.id %}"><h3>{{ item.title }}</h3></a>
                        <p>{{ item.text }}</p>
                        <a href="{% url 'question' item.id %}">Ответы({{ item.answers }})</a>
                        <span>Теги:</span>
                        {%for tag in item.tags.all %}
                            <a href="{% url 'tag' tag %}">{{ tag }}</a>
                        {% endfor %}
                        <p> {{ item.date }} </p>
                    </div>
                </div>
            </div>
    {% endfor %}
    {%include 'paginator.html' with objects=questions %}

{% endblock %}