<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Askbutorin</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/starter-template.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AskButorin</a>
            <div class="askbutorin-authorised">
                <img class="user-avatar" src="/static/images/people-q-c-60-60-9.jpg" />
                <div class="user-menu">
                    <p >Nickname</p>
                    <a href="">Настройки</a>
                    <a href="">Выйти</a>
                </div>
            </div>
            <div class="askbutorin-not-authorised">
                <a href="">Войти</a>
                <a href="">Зарегистрироваться</a>
            </div>
        </div>
        <div class="askbutorin-search">
            <form>
                <p><input type="search" placeholder="Поиск по сайту">
                <input type="submit" value="Найти"></p>
            </form>
        </div>

      </div>
    </nav>

    <div class="container">

      <div class="askbutorin-main-block">
        <div class="col-md-8">
            <h2>Новые вопросы</h2>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="/static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="../static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="../static/images/dislike.png"></button></span>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(1)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(2)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(2)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(3)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(4)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(2)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(3)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(2)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(1)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(2)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(5)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(3)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(3)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(0)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(2)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(1)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(1)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(5)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(3)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
            <div class="askbutorin-question">
                <div class="row">
                    <div class="col-md-2">
                        <div class="askbutorin-avatar-block">
                            <img class="avatar" src="static/images/people-q-c-60-60-10.jpg"/>
                            <p> Nickname </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/like.png"></button></span>
                                <span>0</span>
                              <span><button type="button" class="btn btn-default"><img class="like-button" src="static/images/dislike.png"></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <a href=""><h3>Bootstrap позволяет оформить текст</h3></a>
                        <p>Кроме оформления блоков и структуры страницы, Bootstrap позволяет оформить текст: абзацы, цитаты, заголовки, подзаголовки, различные размеры текста, вставки кода и так далее. В большинстве случаев вам не придётся менять установленные по умолчанию параметры текста, ведь все отступы, заголовки, межстрочные расстояния и прочее прописаны с точностью как в аптеке.</p>
                        <a href="">Ответы(2)</a>
                        <span>Теги:</span>
                        <a href="">tag1</a>
                        <a href="">tag2</a>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-md-4">
           <div class="askbutorin-leftblock">
                <h2>Популярные теги</h2>
                   <a class="askbutorin-tags" href="">Python</a>
                   <a class="askbutorin-tags" href="">C++</a>
                   <a class="askbutorin-tags" href="">macOS</a>
                   <a class="askbutorin-tags" href="">MySQL</a>
                   <a class="askbutorin-tags" href="">MongoDB</a>
                   <a class="askbutorin-tags" href="">Django</a>
                   <a class="askbutorin-tags" href="">linux</a>
                   <a class="askbutorin-tags" href="">Mail.ru</a>
                   <a class="askbutorin-tags" href="">my.com</a>
                   <a class="askbutorin-tags" href="">techopark</a>
                   <a class="askbutorin-tags" href="">C++</a>
                   <a class="askbutorin-tags" href="">macOS</a>
                <h2>Лучшие пользователи</h2>
                   <a class="askbutorin-best-users" href="">Вася</a><br>
                   <a class="askbutorin-best-users" href="">Петя123</a><br>
                   <a class="askbutorin-best-users" href="">Федя777</a><br>
           </div>
        </div>
          <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                      </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                      <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
      </div>

    </div><!-- /.container -->


    <script src="../static/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
</html>
