{% extends "base.html" %}

{% block content %}
             <div class="askbutorin-login">
                <form action="">
                    <h2>Вход</h2>
                    <div class="row">
                        <p class="askbutorin-wrong_login-msg askbutorin-error-messages">Пользователь с таким логином не найден</p>
                        <div class="col-md-3">
                            <span>Логин</span>
                        </div>
                        <div class="col-md-9">
                            <span><input class="askbutorin-login-field" maxlength="50" size="20" placeholder="Введите логин"></span>
                        </div>
                    </div>
                    <div class="row">
                        <p class="askbutorin-wrong_password-msg askbutorin-error-messages">Неправильный пароль</p>
                        <div class="col-md-3">
                            <span>Пароль</span>
                        </div>
                        <div class="col-md-9">
                            <span><input class="askbutorin-password-field" type="password" maxlength="50" size="20" placeholder="Введите пароль"></span>
                        </div>
                    </div>
                    <p><input class="askbutorin-submit-button" type="submit" value="Войти"></p>
                </form>
                 <a href="">Регистрация</a>
            </div>
{% endblock %}
