{% extends "base.html" %}

{% block content %}
    <div class="askbutorin-login">
       {% for error in form.non_field_errors %}
           <div class="alert alert-danger" role="alert">
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
               {{ error }}
           </div>
       {% endfor %}
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            <h2>Вход</h2>
            <div class="form-group">
                <label for="username" class="col-md-2 control-label">{{ form.username.label }}</label>
                <div class="col-md-5"> {{ form.username }} </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">{{ form.password.label }}</label>
                <div class="col-md-5"> {{ form.password }} </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </div>
        </form>
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
{% endblock %}
