{% if objects.has_other_pages %}
<nav>
<ul class="pagination pagination-lg">
    {% if objects.has_previous %}
    <li>
        <a href="?page={{ objects.previous_page_number }}">
            <span>←туда</span>
        </a>
    </li>
    {% endif %}
    {% for page in objects.paginator.page_range %}
    {% if page > objects.from_left and page < objects.from_right and page != objects.number  %}
        <li>
            <a href="?page={{ page }}">
                <span> {{ page }}</span>
            </a>
        </li>
    {% elif page == objects.number %}
        <li class="active"><span>{{ page }}</span></li>
    {% endif %}
    {% endfor %}

    {% if objects.has_next %}
    <li>
        <a href="?page={{ objects.next_page_number }}">
            <span aria-hidden="true">сюда→</span>
        </a>
    </li>
    {% endif %}
</ul>
</nav>
{% endif %}