{% if objects.has_other_pages %}
<nav>
<ul class="pagination pagination-lg">
    {% if objects.has_previous %}
    <li>
        <a href="?page={{ objects.previous_page_number }}" >
            <span aria-hidden="true">Пред</span>
        </a>
    </li>
    {% endif %}
    <li class="active"><span>{{ objects.number }}</span></li>
    {% if objects.has_next %}
    <li>
        <a href="?page={{ objects.next_page_number }}">
            <span aria-hidden="true">След</span>
        </a>
    </li>
    {% endif %}
</ul>
</nav>
{% endif %}
