{% extends "base.html" %}

{% block content %}
                <div class="askbutorin-main-question">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="askbutorin-avatar-block">
                                <img class="avatar" src="/images/people-q-c-60-60-10.jpg"/>
                                <p> Nickname </p>
                                <div class="btn-group" role="group" aria-label="...">
                                 <span><button type="button" class="btn btn-default"><img class="like-button" src="/images/like.png"></button></span>
                                     <span>{{ rating }}</span>
                                 <span><button type="button" class="btn btn-default"><img class="like-button" src="/images/dislike.png"></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h3>{{ title }}</h3>
                            <p>{{ text }}</p>
                            <span>Теги:</span>
                            {% for tag in tags %}
                                <a href="{% url 'tag' tag %}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <div class="answers">
                        {% for item in answers %}
                        <div class="askbutorin-answer">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="askbutorin-avatar-block">
                                        <img class="avatar" src="/images/people-q-c-60-60-10.jpg"/>
                                        <p> Nickname </p>
                                        <div class="btn-group" role="group" aria-label="...">
                                          <span><button type="button" class="btn btn-default"><img class="like-button" src="/images/like.png"></button></span>
                                                <span>{{ item.rating }}</span>
                                            <span><button type="button" class="btn btn-default"><img class="like-button" src="/images/dislike.png"></button></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <p>{{ item.text }}</p>
                                     <p><input type="checkbox" name="correct" value=""> Верный ответ</p>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        {%include 'paginator.html' with objects=answers %}
                    </div>
                <form action="">
                  <p><textarea maxlength="200" class="askbutorin-newanswer" name="comment" placeholder="Введите ваш ответ здесь"></textarea></p>
                  <p><input type="submit" value="Ответить"></p>
                 </form>
{%  endblock %}