{% extends "base.html" %}

{% block content %}
    <div class="askbutorin-main-question">
        <div class="row">
            <div class="col-md-3">
                <div class="askbutorin-avatar-block">
                    {% if question.author.profile.avatar %}
                        <img class="avatar" src="{{ question.author.profile.avatar.url }}"/>
                    {% else %}
                        <img class="avatar" src="images/avatars/default.png"/>
                    {% endif %}
                    <p> {{ question.author }} </p>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="" class="js-like" data-id="{{ question.id }}" data-type="question-like"><button type="button" class="btn like_btn btn-default" {%if not request.user.is_authenticated %}disabled="disabled"{% endif %}><img class="like-button" src="/images/like.png"></button></a>
                        <span>{{ question.rating }}</span>
                        <a href="" class="js-like" data-id="{{ question.id }}" data-type="question-dislike"><button type="button" class="btn like_btn btn-default" {%if not request.user.is_authenticated %}disabled="disabled"{% endif %}><img class="like-button" src="/images/dislike.png"></button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h3>{{ question.title }}</h3>
                <p>{{ question.text }}</p>
                <span>Теги:</span>
                {%for tag in question.tags.all %}
                    <a href="{% url 'tag' tag %}">{{ tag }}</a>
                {% endfor %}
                <p> {{ question.date }} </p>
            </div>
        </div>
    </div>
    <div class="answers">
        {% for item in answers %}
            <div class="askbutorin-answer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="askbutorin-avatar-block">
                            {% if item.author.profile.avatar %}
                                <img class="avatar" src="{{ item.author.profile.avatar.url }}"/>
                            {% else %}
                                <img class="avatar" src="images/avatars/default.png"/>
                            {% endif %}
                            <p> {{ item.author }} </p>
                            <div class="btn-group" role="group" aria-label="...">
                              <a href="" class="js-like" data-id="{{ item.id }}" data-type="answer-like"><button type="button" class="btn like_btn btn-default" {%if not request.user.is_authenticated %}disabled="disabled"{% endif %}><img class="like-button" src="/images/like.png"></button></a>
                                <span>{{ item.rating }}</span>
                              <a href="" class="js-like" data-id="{{ item.id }}" data-type="answer-dislike"><button type="button" class="btn like_btn btn-default" {%if not request.user.is_authenticated %}disabled="disabled"{% endif %}><img class="like-button" src="/images/dislike.png"></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <p>{{ item.text }}</p>
                        <span class="glyphicon {% if item.correct %}glyphicon-ok {% else %} glyphicon-remove {% endif %} js-correct" data-id="{{ item.id }}" aria-hidden="true"> Правильный ответ</span>
                        <p> {{ item.date }} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {%include 'paginator.html' with objects=answers %}
    </div>

    {% if user.is_authenticated %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <div> {{ form.text }} </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Ответить</button>
            </div>
        </form>
    {% endif %}
{%  endblock %}