{% extends "base.html" %}

{% block content %}
            <div class="askbutorin-user-profile">
                <form action="">
                    <h2>Настройки профиля</h2>
                    <div class="col-md-5">
                        <div class="askbutorin-field-names">
                            <p>Логин</p>
                            <p>E-mail</p>
                            <p>Никнейм</p>
                            <p>Аватар</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <p><input class="askbutorin-login-field" maxlength="50" size="30" value="admin"></p>
                        <p><input class="askbutorin-email-field" maxlength="50" size="30" value="bestadmin@mail.ru"></p>
                        <p><input class="askbutorin-nickname-field" maxlength="50" size="30" value="Nickname"></p>
                        <p><img class="user-avatar" src="/images/people-q-c-60-60-9.jpg"/></p>
                        <p><input class="askbutorin-load-avatar-field" type="file" name="photo"></p>
                    </div>
                    <p><input class="askbutorin-submit-button" type="submit" value="Сохранить"></p>
                </form>
            </div>

        </div>

{% endblock %}