{% extends "base.html" %}

{% block content %}
             <div class="askbutorin-registration">
                <form action="">
                    <h2>Регистрация</h2>
                    <div class="row">
                        <p class="askbutorin-error_login-msg askbutorin-error-messages">Извините, пользователь с таким логином уже существует</p>
                        <div class="col-md-5">
                            <span>Логин</span>
                        </div>
                        <div class="col-md-7">
                            <span><input class="askbutorin-login-field" maxlength="50" size="30" placeholder="Введите логин"></span>
                        </div>
                    </div>
                    <div class="row">
                        <p class="askbutorin-wrong_email-msg askbutorin-error-messages">Извините, введен некорректный e-mail</p>
                        <p class="askbutorin-error_email-msg askbutorin-error-messages">Извините, пользователь с таким e-mail уже зарегистрирован</p>
                        <div class="col-md-5">
                            <span>E-mail</span>
                        </div>
                        <div class="col-md-7">
                            <span><input class="askbutorin-email-field" maxlength="50" size="30" placeholder="Введите почтовый адрес"></span>
                        </div>
                    </div>
                    <div class="row">
                        <p class="askbutorin-error_nickname-msg askbutorin-error-messages">Извините, пользователь с таким никнеймом уже существует</p>
                        <div class="col-md-5">
                            <span>Никнейм</span>
                        </div>
                        <div class="col-md-7">
                            <span><input class="askbutorin-nickname-field" maxlength="50" size="30" placeholder="Введите ник"></span>
                        </div>
                    </div>
                    <div class="row">
                        <p class="askbutorin-error_password-msg askbutorin-error-messages">Извините, введенные пароли не совпадают</p>
                        <div class="col-md-5">
                            <span>Пароль</span>
                        </div>
                        <div class="col-md-7">
                            <span><input class="askbutorin-password-field" type="password" maxlength="50" size="30" placeholder="Введите пароль"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <span>Подтверждение пароля</span>
                        </div>
                        <div class="col-md-7">
                            <span><input class="askbutorin-password-field" type="password" maxlength="50" size="30" placeholder="Подтвердите пароль"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <span>Аватар</span>
                        </div>
                        <div class="col-md-7">
                            <span><input class="askbutorin-load-avatar-field" type="file" name="photo"></span>
                        </div>
                    </div>
                    <p><input class="askbutorin-submit-button" type="submit" value="Зарегистрироваться"></p>
                </form>
            </div>

{% endblock %}